<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripleh.triphauth.com.mapper.HRoleDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, create_time, create_name, update_time, update_name, del_flag
    </sql>

</mapper>
